
* {
    font-family: 'Helvetica', sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    /* may change justify content around to match img better */
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links,
.hero-secondary,
.placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container-one {
    display: flex;
    background-color: #1f2937;
    padding: 100px 250px;
    gap: 50px;
}

.body {
    flex:1;
    display: flex;
    flex-direction: column;
}

.placeholder {
    background-color: grey;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-main {
    font-size:48px;
    font-weight: 800;
    color:#F9FAF8;
}

.hero-main,
.hero-secondary,
.sign-up {
    margin: 4px 0;
}

.sign-up {
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color:#F9FAF8;
    font-size: 1.15em;
    font-weight: 600;
    border-radius: 6px;
    padding: 8px 36px;
    align-self: flex-start;
}

.container-two {
    display: flex;
    flex-direction: column;
}

.info-header h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 36px 0px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blue-box {
    border: 4px solid #3882f6;
    border-radius: 16px;
    height: 150px;
    width: 150px;
}

.subtext {
    color: grey;
    height: 150px;
    width: 150px;
    text-align: center;
    margin-left:4px;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937
}

.author {
    color: #1f2937;
    font-size: 1.5em;
    font-weight: 600;
    text-align: end;
}

.container-four {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 10px;
}

.product-sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    gap: 150px;
}

.sign-up-text h3 {
    color:#F9FAF8;
    font-size: 1.5em;
    margin-bottom: 4px;
}

.sign-up-text p {
    color:#F9FAF8;
    margin-top: 4px;
}

.sign-up-inverse {
    align-self: center;
    background-color: #3882f6;
    font-weight: 800;
    font-size: 1em;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 6px 24px;
    margin-top: 8px;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}